@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Press+Start+2P&display=swap');



:root{
    --cor-primairia: #222222;
    --cor-segundaria: #FFFFFF;
    --cor-terciaria:#FFCB05;
    --cor-quartenaria:#3B4CCA;
    --cor-quintenaria:#8C082C;
    --cor-sextiaria: #FF3131;
    --cor-amarelo2: #F2B705;
    --cor-amarelo3: #BF9004;
    --cor-azul2: #3F61A6;
}


header{
    background-color: var(--cor-amarelo3);
    font-family: 'Bungee';
    padding: 10px;
    font-size: 25px;
    box-shadow: 0px 4px 3px var(--cor-primairia);

}
div#father{
    margin: 0;
    padding: 0;
    background: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/4fda9f2e-bdae-436e-a729-995e442f0245/dejr7my-4643e7e4-2b76-494b-917e-63dc39d8efa2.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiIvZi80ZmRhOWYyZS1iZGFlLTQzNmUtYTcyOS05OTVlNDQyZjAyNDUvZGVqcjdteS00NjQzZTdlNC0yYjc2LTQ5NGItOTE3ZS02M2RjMzlkOGVmYTIuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.jsO-LP4GXcn7wErC8VUVMggJsbDtj4rBjLN_WCLnQmo") no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
    background-color: #000;
}
div.contain1{
    background-color: var(--cor-azul2);
    width: 90%;
    height: 65vh;
    margin-top: 10vh;
    border-radius: 10px;
    margin-bottom: 15vh;
    overflow: hidden;
    position: relative;
    box-shadow: 3px 4px 5px var(--cor-quartenaria);
    
}
.img{

}
.img img{
    margin-left: 30px;
    height: 50vh;
    width: 250vh;
    
}

.subcontain{
    background-color: var(--cor-amarelo2);
    height: 60vh;
    width: 30vh;
    font-size: 14px;
    margin-left: 42px;
    border-radius: 15px;

}
.subcontain > p{
    font-family: 'Orbitron';
}
.subcontain > h2{
    background-color: var(--cor-terciaria);
    text-align: center;
    margin-left: -12px;
    margin-right: -12px;
    font-family: 'Bungee';
    padding: 5px;
    font-size: 30px;
    border-radius: 15px 15px 0px 0px;
    box-shadow: 0px 3px 0px var(--cor-amarelo3);
}
div.contain2{
    width: 85%;
    margin-bottom: 10px;
    height: 15vh;
    background-color: var(--cor-azul2);
    border-radius: 10px;
    box-shadow: 3px 4px 5px var(--cor-quartenaria);


}


.a1, .a2{
    background-color: var(--cor-amarelo2);
    text-align: center;
    height: 5vh;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    color: var(--cor-primairia);
    font-family: 'Press Start 2P';
    font-size:14px;
    transition: 0.3s ease;    
}
.a3{
    background-color: var(--cor-amarelo2);
    text-align: center;
    height: 5vh;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    color: var(--cor-primairia);
    font-family: 'Press Start 2P';
    font-size:14px;
    transition: 0.3s ease;      

}

.a1:hover, .a2:hover, .a3:hover{
    transform: scale(1.1);
    color: #3B4CCA;
}

.a1:active, .a2:active, .a3:active{
    transform: scale(0.7);
}

