:root{
    --cor-primairia: #222222;
    --cor-segundaria: #FFFFFF;
    --cor-terciaria:#FFCB05;
    --cor-quartenaria:#3B4CCA;
    --cor-quintenaria:#FF1C1C;
    --cor-sextiaria: #FF3131;

}


div#father{
    
    display: flex;
    flex-direction: column;
    height: 900px;
    max-width: 100%;
    margin: auto;
    background-color: var(--cor-segundaria);
}


header{    
    height: 59px;
    text-align: center;
    box-shadow: 3px 3px 1px black;
    background-color: var(--cor-segundaria);
    
}

div.father1{
    display: flex;
    gap: 60px;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: 400px;
    margin: auto;
}
.contain1, .contain2{
    background-color:var(--cor-segundaria);
    width:400px;
    border-radius: 5px;
    box-shadow: 1px 2px 3px  var(--cor-quintenaria);
}
.contain1 > h2, .contain2 > h2{
    background-color: var(--cor-sextiaria);
    margin-left: -12px;
    margin-right: -12px;
    text-align: center;
    margin: none;
    border-radius: 3px 3px 20px 20px;
    
}
